<link rel="import" href="/webjars/polymer/1.8.0/polymer.html">

<dom-module id="input-password">
    <link rel="import" type="css" href="/css/input-password.css">
    <template>
        <div class="input">
            <label for="[[name]]" class="input-label">[[label]]</label>
            <input id="[[name]]" name="[[name]]" type="password" class="input-password">
        </div>
    </template>

    <script>
      Polymer({
        is: 'input-password',
        properties: {
          label: String,
          name: String
        }
      });
    </script>
</dom-module>