$grey: #929292;
$font-colour: #2b2b2b;

.header-container {
  height: 40px;
  border-bottom: $grey solid 1px;
  padding: 0 10px;

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: $font-colour;
  }

  .menu, .login {
    padding: 10px 0;

    a {
      padding: 0 10px;
      border-right: $grey solid 1px;
    }
    a:first-child {
      padding-left: 0;
    }
    a:last-child {
      padding-right: 0;
      border-right: none;
    }
  }

  .login {
    float: right;
  }
}