<link rel="import" href="/webjars/polymer/1.8.0/polymer.html">
<link rel="import" href="/components/page-login">

<dom-module id="page-header">
    <link rel="import" type="css" href="/css/page-header.css">
    <template>
        <div class="header-container">
            <page-login></page-login>
            <div class="menu">
                <a href="/">Home</a>
            </div>
        </div>
    </template>

    <script>
      Polymer({
        is: 'page-header'
      });
    </script>
</dom-module>